<!doctype html>
<html lang='en'>
		
	<head>
		<meta charset='utf-8'>
		<title>Share My Video - A better sharing experience for Facebook</title>
		
		<meta name="description" content="A better sharing experience for posting your Youtube video on Facebook."/>
		<meta itemprop="name" content="sharemy.video">
		<meta itemprop="description" content="A better sharing experience for posting your Youtube video on Facebook.">
		<meta itemprop="image" content="/public/images/sharemyvideo.jpg">
		
		<meta property="og:title" content="sharemy.video"/>
		<meta property="og:description" content="A better sharing experience for posting your Youtube video on Facebook."/>
		<meta property="og:image" content="/public/images/sharemyvideo.jpg"/> 
		<meta property="og:site_name" content="sharemy.video"/>
		<meta property="og:url" content="http://sharemy.video" />
		<meta property="fb:app_id" content="303472459794735" />
		<meta property='og:type' content='website'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
		
		<style>
			body{
				margin: 0;
			}
			.text-left{
				text-align: left;
			}
			.text-right{
				text-align: right;
			}
		</style>
		
	</head>
				
	<body>
        <h1>Error</h1>
	</body>
	
</html>

			